node_modules
.env
.env.staging
.env.testing
dist/
pseudo/
.vscode/
files
cleaningItems
public/uploads/details
uploads/
audit.log
audit-stage.log
src/cook_room_facility2_dummy_data.json
src/fruit_room_facility2_dummy_data.json
src/lab_room_facility2_dummy_data.json
src/production_room_facility2_dummy_data.json
src/room4_room_facility2_dummy_data.json
src/salad_room_facility2_dummy_data.json
src/store_room_facility2_dummy_data.json
src/fruit_room_facility200_dummy_data.json
src/roomsDetail.ts
src/api/task/practice.ts
tasks.drawio
uploadsLMS/
src/api-V1/historical/workOrder_Sample_Data_10.xlsx
src/api-V1/historical/workOrder_Sample_Data.xlsx