<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
      strong { color: red }
    </style>

  </head>
  <body>
      <h4>Hi Dear User, </h4>
      <p>You have requested to reset your password. Here is your OTP code <strong>{{otp}}</strong></p>
      <p>Your code expires in 15 minutes.</p>
  </body>
</html>